<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= title %></title>
  <link href=<%= url('http://fonts.googleapis.com/css?family=Ubuntu+Mono') %> rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href=<%= url("css/normalize.css") %>>
	<link rel="stylesheet" type="text/css" href=<%= url("css/foundation.css") %>>
	<link rel="stylesheet" type="text/css" href=<%= url("css/app.css") %>>
	<script href=<%= url("js/vendor/modernizr.js") %>></script>
	<% puts request.inspect %>
</head>
<body>
 
<div class="row">
  <div class="large-12 columns">
    <div class="nav-bar right">
     <ul class="button-group">
     <li><a href="/about" class="button">About</a></li>
       <% if post_show_page? %>
        <li>
        <a href="#" data-dropdown="hover1" class="button" data-options="is_hover:true">Options</a>

        <ul id="hover1" class="f-dropdown" data-dropdown-content>
          <li><a href="/posts/<%= @post.id %>/edit">Edit</a></li>
          <li><%= delete_post_button(@post.id) %></li>
        </ul>
        </li>
       <% else %>
         <li><a href="/posts/new" class="button">Create</a></li>
       <% end %>
      </ul>
    </div>
    <h1><a href="/">Hello. </a><small>This is my blog. It's awesome.</small></h1>
    <hr/>
  </div>
</div>
 
<div class="row">
 
     
  <div class="large-9 columns" role="content">
 
    <%= yield %>
 
  </div>
 
  <aside class="large-3 columns">
 
   <% if about_page? %>
    <% else %>
    <h5 class="noblack">Categories</h5>
    <ul class="side-nav">
      <li><a href="#">News</a></li>
      <li><a href="#">Code</a></li>
      <li><a href="#">Design</a></li>
      <li><a href="#">Fun</a></li>
      <li><a href="#">Weasels</a></li>
    </ul>
    
    
    <div class="panel">
      <h5></h5>
      <p class="noblack">My name is Anthony. Welcome to my site.</p>
      <a href="/about">Read More →</a>
    </div>
    <% end %>
 
  </aside>
  </div>
 
<footer class="row">
  <div class="large-12 columns">
    <hr/>
    <div class="row">
      <div class="large-6 columns">
        <p class="copy noblack">© Copyright Anthony Bobsin.</p>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li><a href="#">Create</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

	 
	<script src=<%= url("js/vendor/jquery.js") %>></script>
  	<script src=<%= url("js/foundation.min.js") %>></script>
  	<script>
    	$(document).foundation();
  	</script>
</body>
</html>