<ul>
	<% @posts.each do |post| %>
		<article>
			<h3><a href="/posts/<%= post.id %>"><%= post.title %></a></h3>
			<h6 class="tighten"><a href="/about"><%= post.author %></a><span class="noblack"> <%=pretty_date(post.created_at) %> </span></h6> <br>
			<img src="<%= post.img %>"> <br>
			<p class="seperate noblack"><%= post.body %></p>
		</article>
		<hr>
	<% end %>
</ul>